# Installer à la main via pip dans l'ordre
# Python 3.10 ou 3.11 obligatoire pour tflite

emlearn==0.23.1
scikit-learn==1.7.2
setuptools>=75.0.0
pandas==2.3.3
numpy==1.26.4
matplotlib
tensorflow==2.12.1
